.cart {
  position: fixed;
  transform: translateX(3000px);
  height: 100vh;
  transition: all 0.5s;
  width: 400px;
  right: 0;
  top: 0;
  cursor: initial;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 99;

  .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 40px;
    font-weight: bolder;
    cursor: pointer;
  }

  .item_container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    flex: 1.7;
    padding-top: 10px;
    overflow-y: scroll;
    .item {
      display: flex;
      width: 90%;
      height: 180px;
      margin: 0 auto;
      position: relative;
      padding: 10px 0;
      border-bottom: 3px solid black;

      .details {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        gap: 15px;
        .info {
          display: flex;
          gap: 10px;
          flex-direction: column;
          .cart_title {
            font-size: 20px;
          }

          .cart_price {
            font-size: 12px;
            color: rgb(57, 57, 57);
          }
          & span {
            color: black;
            font-size: 15px;
            cursor: initial;
          }
        }
        & span {
          color: rgb(255, 79, 79);
          font-size: 25px;
          cursor: pointer;
        }

        .btnCart {
          width: 90%;
          display: flex;
          align-items: center;
          gap: 10px;

          & button {
            width: 20px;
            height: 20px;
            cursor: pointer;
          }

          & span {
            font-size: 20px;
            color: black;
          }
        }
      }
    }

    .item:first-of-type {
      border-top: 3px solid black;
    }

    /* .item::after {
      content: '';
      height: 3px;
      width: 100%;
      bottom: -10px;

      background-color: black;
      position: absolute;
    } */
  }

  & h3 {
    text-transform: uppercase;
    font-size: 20px;
    padding: 20px;
  }

  & img {
    width: 50%;
    object-fit: contain;
  }

  .info_result {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;

    .total {
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      padding: 20px;
    }
    .checkout {
      background-color: black;
      color: white;
      border: none;
      outline: none;
      padding: 10px;
      border-radius: 3px;
      cursor: pointer;
      width: calc(100% - 40px);
      margin: 0 auto;
    }

    .reset {
      color: red;
      font-size: 20px;
      cursor: pointer;
      width: fit-content;
      padding: 20px;
    }
  }
}

.show_aside_cart {
  transform: translateX(0px);
}

@media (max-width: 700px) {
  .cart {
    width: 100%;
    & h3 {
      font-size: 24px;
      text-align: center;
    }
  }
}

@media (max-width: 450px) {
  .cart {
    & h3 {
      font-size: 24px;
    }
  }
}
