.container_section {
  padding: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;

  .products {
    display: grid;
    gap: 1rem;
    /* grid-auto-rows: min-content;
    grid-template-columns: repeat(auto-fill, minmax(min(32%, 15rem), 1fr)); */
    /* grid-auto-flow: column; */
    /* grid-auto-rows: 32rem; */
    grid-auto-columns: 5rem;
    /* grid-template-columns: 1fr; */
    width: 100%;
    padding: 0 40px;
  }

  & h1 {
    color: white;
    text-transform: uppercase;
  }

  & button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px 25px;
    cursor: pointer;
  }
}
@media (min-width: 900px) {
  .products {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* @media (min-width: 1100px) {
  .products {
    grid-template-columns: repeat(5, 1fr);
  }
} */

@media (max-width: 900px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 540px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 330px) {
  .products {
    grid-template-columns: repeat(1, 1fr);
  }
}
