.men > .img {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://images.pexels.com/photos/12056633/pexels-photo-12056633.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  width: 100%;
  height: 100%;
}

.women > .img {
  width: 100%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://images.pexels.com/photos/9861658/pexels-photo-9861658.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

.catalogo > .img {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://images.pexels.com/photos/3527572/pexels-photo-3527572.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

.main {
  height: calc(100vh - 100px);
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(https://images.pexels.com/photos/6626999/pexels-photo-6626999.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;

  & h2 {
    font-size: 10px;
  }

  & p {
    font-size: 36px;
  }
}

.sections_container {
  height: min-content;
  transition: background-size 1s;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 40px;

  align-items: center;
  .section {
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    min-width: 250px;
    overflow: hidden;
    flex: 1;

    .img {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: absolute;
      transition: transform 0.5s;
    }

    & p {
      z-index: 20;
      font-size: 40px;
      text-transform: uppercase;

      color: white;
    }
  }

  .section .img:hover {
    transform: scale(1.3);
  }
  .gender_container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
    width: 100%;
    flex-wrap: wrap;
  }

  /* .catalogo {
    height: 300px;
    width: 100%;
  } */
}
/* 
.gender_container {
  transition: background-size 1s;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex: 1;
}

.gender_section {
  height: 300px;
  display: block;
  position: relative;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 40px;
  text-transform: uppercase;
  overflow: hidden;
  min-width: 100px;
  flex: 1;

  & p {
    z-index: 9;
  }

  .img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    transition: transform 0.5s;
  }
}
.gender_section:hover .img {
  transform: scale(1.3);
}
.catalogo {
  flex: 2;
  min-width: 100%;
  background-color: red;
} */
