.card {
  color: white;
  text-decoration: none;
  position: relative;
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;

  & img {
    height: 300px;
    width: 100%;
  }

  .isNew {
    position: absolute;
    background-color: white;
    padding: 5px;
    font-size: 16px;
    color: green;
    font-weight: bold;
    top: 0;
  }

  & p {
    font-size: 24px;
  }

  .price {
    font-size: 20px;
  }
  &::before {
    content: '';
    height: 3px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: -10px;
  }
}

@media (max-width: 700px) {
  .card {
    min-height: 310px;

    & img {
      height: 250px;
    }

    & p {
      font-size: 16px;
    }

    .price {
      font-size: 15px;
    }
  }
}
.desk {
  width: 100%;
  min-height: 200px;
  & img {
    height: 150px;
    width: 100%;
  }
}
