.card {
  color: black;
  background-color: white;
  text-decoration: none;
  position: relative;
  width: 100%;
  min-height: 560px;
  display: flex;
  flex-direction: column;

  & img {
    height: 500px;
    object-fit: cover;
  }

  .isNew {
    position: absolute;
    background-color: white;
    padding: 5px;
    color: green;
    font-weight: bold;
    top: 0;
  }

  & p {
    font-size: 24px;
  }

  .price {
    font-size: 20px;
  }
}

.link {
}
