.single_product_container {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  padding-top: 50px;
  width: 100%;
  gap: 50px;

  .images_collection {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;

    .column {
      width: 250px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .square {
        height: 30%;
        width: 70%;
        background-color: blue;
      }
    }

    .principal {
      width: 100%;
      & img {
        width: 100%;
      }
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    width: 60%;
    min-height: 50%;
    justify-content: space-between;
    gap: 30px;

    & h2 {
      font-size: 36px;
    }
    .price {
      font-size: 20px;
    }
    .desc {
      width: 70%;
    }
    & button {
      padding: 10px 20px;
      width: fit-content;
      border: none;
      cursor: pointer;
      text-transform: uppercase;
    }

    .sizes {
      display: flex;
      flex-direction: column;

      .number {
        position: relative;

        & span {
          padding: 5px;
        }
      }
      .size_active::after {
        content: '';
        position: absolute;
        height: 2px;
        bottom: -2px;
        left: 0px;
        width: 100%;
        background-color: white;
      }

      .size {
        display: flex;
        gap: 10px;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 900px) {
  .single_product_container {
    flex-direction: column;
    .info {
      width: 100%;
    }
  }
}

@media (max-width: 600px) {
  .single_product_container {
    .images_collection {
      flex-direction: column-reverse;

      .column {
        width: 100%;
        margin: 0 auto;
        justify-content: center;
        flex-direction: row;

        .square {
          height: 70px;
        }
      }

      .principal {
        /* height: 50%; */
        width: 100%;
        display: flex;
        justify-content: center;
        & img {
          object-fit: contain;
          justify-content: start;
          width: 100%;
          /* height: 70%; */
        }
      }
    }
  }
}
