.product_card_container {
  display: grid;
  gap: 1rem;
  /* grid-auto-rows: min-content;
  grid-template-columns: repeat(auto-fill, minmax(min(32%, 15rem), 1fr)); */
  /* grid-auto-flow: column; */
  /* grid-auto-rows: 32rem; */
  grid-auto-columns: 5rem;
  grid-template-columns: 1fr;
  width: 100%;
  padding: 0 40px;

  .loading {
    color: white;
  }
}

@media (max-width: 1100px) {
  .product_card_container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1100px) {
  .product_card_container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 900px) {
  .product_card_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 540px) {
  .product_card_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 330px) {
  .product_card_container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.loader {
  width: 100%;
  height: min-content;
  padding: 50px;
}
.sk-chase {
  margin: 0 auto;
  width: 80px;
  height: 80px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: sk-chase-dot 2s infinite ease-in-out both;
}

.sk-chase-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-chase-dot-before 2s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) {
  animation-delay: -1.1s;
}
.sk-chase-dot:nth-child(2) {
  animation-delay: -1s;
}
.sk-chase-dot:nth-child(3) {
  animation-delay: -0.9s;
}
.sk-chase-dot:nth-child(4) {
  animation-delay: -0.8s;
}
.sk-chase-dot:nth-child(5) {
  animation-delay: -0.7s;
}
.sk-chase-dot:nth-child(6) {
  animation-delay: -0.6s;
}
.sk-chase-dot:nth-child(1):before {
  animation-delay: -1.1s;
}
.sk-chase-dot:nth-child(2):before {
  animation-delay: -1s;
}
.sk-chase-dot:nth-child(3):before {
  animation-delay: -0.9s;
}
.sk-chase-dot:nth-child(4):before {
  animation-delay: -0.8s;
}
.sk-chase-dot:nth-child(5):before {
  animation-delay: -0.7s;
}
.sk-chase-dot:nth-child(6):before {
  animation-delay: -0.6s;
}

@keyframes sk-chase {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot {
  80%,
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4);
  }
  100%,
  0% {
    transform: scale(1);
  }
}
